certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
decorator==4.4.2
Deprecated==1.2.13
dimod==0.10.7
diskcache==5.2.1
dwave-cloud-client==0.9.2
dwave-neal==0.5.8
dwave-networkx==0.8.10
dwave-preprocessing==0.3.1.post0
dwave-system==1.10.0
dwave-tabu==0.4.2
fasteners==0.16.3
homebase==1.0.1
idna==3.3
minorminer==0.2.6
networkx==2.6.3
numpy==1.21.3
plucky==0.4.3
pydantic==1.8.2
pyparsing==2.4.7
pyqubo==1.0.13
PySocks==1.7.1
python-dateutil==2.8.2
requests==2.26.0
scipy==1.7.1
six==1.16.0
typing-extensions==3.10.0.2
urllib3==1.26.7
wrapt==1.13.2
